{
  'env': { 'es6': true, 'node': true },
  'extends': ['eslint:recommended', 'prettier'],
  'parserOptions': { 'ecmaVersion': 'latest', 'sourceType': 'module' },
  'ignorePatterns': ['dist'],
  'rules':
    {
      'complexity': ['error', 5],
      'max-depth': ['error', 2],
      'max-params': ['error', 4],
      'eqeqeq': 'error',
      'no-eq-null': 'error',
      'no-implicit-coercion': 'error',
      'max-lines-per-function':
        ['error', { 'max': 30, 'skipBlankLines': true, 'skipComments': true }]
    },
  'overrides': [{ 'files': ['*.spec.js'], 'rules': { 'max-lines-per-function': 'off' } }]
}
